In [1]:
# Dependencies and Setup
import os
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = os.path.join('Resources','schools_complete.csv')
student_data_to_load = os.path.join('Resources','students_complete.csv')

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
#Calculate District Summary
# sc_sum=school_data_complete.sum(skipna = True, numeric_only=True )
# sc_unique=school_data_complete.unique()
# sc_unique
totoal_budget=school_data_complete.loc[school_data_complete['School ID'].unique(),['budget']].sum()

print(totoal_budget)
unique_count=school_data_complete.nunique()
#unique_count

budget    28659525
dtype: int64

In [11]:
unique_count["Student ID"]

39170

In [18]:
#"Total Schools""Total Students""Total Budget""Average Math Score""Average Reading Score""% Passing Math""% Passing Reading""% Overall Passing Rate"
ds_data={"Total Schools":[unique_count["School ID"]],
         "Total Students":[unique_count["Student ID"]]
#          "Total Budget"
#          "Average Math Score"
#          "Average Reading Score"
#          "% Passing Math"
#          "% Passing Reading"
#          "% Overall Passing Rate"
        }
district_summary_df=pd.DataFrame(data=ds_data)
district_summary_df.head()

   Total Schools  Total Students
0             15           39170